@font-face{
	src:url("Cabin-Bold.ttf");
	font-family:Cabin-Bold;
	src:url("pisanaslova/Parisienne-Regular.ttf");
	font-family:Parisienne-Regular;
	src:url("pisanaslova2/GreatVibes-Regular.ttf");
	font-family:GreatVibes-Regular;
	src:url("boldslova/Audiowide-Regular.ttf");
	font-family:Audiowide-Regular;
}
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.cistac{
	clear:both;
}
body{
	font-family:Cabin-Bold;
	
}
#okvir{
	background-image:url("../slike/pozadina.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	min-height:1050px;
}
#header{
	width:100%;
	height:175px;
	background-color:rgb(255,255,255,0.2);
	font-family:Cabin-Bold;
	/*position:fixed;*/

}
#logo{
	width:175px;
	height:175px;
	float:left;
}
#logo img{
	width:175px;
	height:175px;
}
#meni{
	float:right;
	padding-top:60px;
	padding-right:90px;
}
#meni ul{
	list-style-type:none;
	
}
#meni ul li{
	display:inline-block;
	font-size:32px;
	margin-left:40px;
	
}
#meni ul li a{
	text-decoration:none;
	color:#e3b11b;
	text-shadow: 3px 1px 2px black;
	
} 
#meni .aktivanLink{
	color:white;

}
#meni ul li a:hover{
color:white;}

#sredinapocetak{
	width:100%;
	height:/*980px;*/805px;
	color:white;
	padding-top:/*325px;*/150px;
	
	
}
#sredinapocetak h1{
	color:#e3b11b;
	text-shadow: 6px 6px 1px black;
	font-family:Audiowide-Regular;
	font-size:68px;
	text-align:center;
	
}
#crniokvir{
	background-color:rgb(0,0,0,0.5);
	margin-bottom:70px;
	
}
#sredinapocetak h2{
	color:white;
	font-size:44px;
	text-align:center;
	
}
#sredinapocetak p{
	color:white;
	font-size:30px;
	text-align:center;
	padding-top:15px;
}
#onama{
	width:60%;
	margin:0px auto;
	background-color:rgb(0,0,0,0.5);
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
#onama h3{
	text-align:center;
	font-size:32px;
}
#onama p{
	font-size:24px;
}
#onama p span{
	color:#e3b11b;
	font-weight:bold;
}
#footer{
	width:100%;
	height:70px;
	background-color:rgb(0,0,0,0.5);
	color:white;
	text-align:center;
	/*padding-top:150px;*/

}
#footer .slikef{
	width:30px;
	height:30px;
	background-color:white;
}
#footer #informacije{
	width:90%;
	margin:0px auto;
	float:left;
	padding-top:25px;
}
#informacije a{
	color:white;
}
#informacije i{
	font-size:25px;
}
#phonemail{
	width:60%;
	margin:0px auto;
}
#phone{
	width:25%;
	float:left;
}
#mail{
	width:35%;
	float:right;
}
#footer #rss_sm{
	float:left;
}
#footer #fb_in{
	float:right;
}

/*GALERIJA*/

#sredinagalerija{
	width:100%;
	height:/*980px;*/805px;
	padding-top:/*230px;*//*325px;*/50px;
	color:white;
}
#sredinagalerija h1{
	text-align:center;
	font-size:56px;
	color:#e3b11b;
	text-shadow: 3px 3px 1px black;
}
#sredinagalerija h1:hover{
}	
#sredinagalerija h2{
	text-align:center;
	font-size:44px;
}
#okvirgalerija{
	width:80%;
	height:600px;
	margin:0px auto;
	padding-top:20px;
	display:flex;
	justify-content:center;
}
#galerija{
	width:580px;
	height:550px;
	display:flex;
	flex-wrap:wrap;
	padding-top:20px;
	justify-content:space-around;
	/*background-color:gray;*/
}

}
.frizura{
	width:180px;
	height:190px;
	
	
}
.frizura img{
	width:170px;
	height:170px;
	border:1px solid #e3b11b;
}
.frizura img:hover{
	transform:scale(2);
}
.frizura h2{
	font-size:18px;
	text-align:center;
}

/*CENOVNIK*/
#sredinacenovnik{
	width:100%;
	height:/*980px;*/805px;
	padding-top:/*230px;*//*325px;*/50px;
	color:white;
}
#sredinacenovnik h1{
text-align:center;
font-size:56px;
color:#e3b11b;
text-shadow: 3px 3px 1px black;
}
#okvircenovnik{
	width:1000px;
	margin:0px auto;
	padding-top:35px;
}
#okvircenovnik table{
	margin:0px auto;
	border:4px solid #e3b11b;
	width:900px;
	height:600px;
	background-color:rgb(0,0,0,0.7);
	
	
}
#okvircenovnik table th{
	height:40px;
	border-bottom:1px solid #e3b11b;
	font-size:20px;
}
#okvircenovnik table tr{
	height:30px;
	
}
#okvircenovnik table .u{
	padding-right:100px;
}
}
#okvircenovnik table .usluga{
	text-align:left;
	padding-left:20px;
}
#okvircenovnik table .cena{
	text-align:right;
	padding-right:20px;
}

/*KONTAKT*/
#sredinakontakt{
	width:100%;
	height:/*980px;*/805px;
	padding-top:/*230px;*//*325px;*/50px;
	color:white;
}
#sredinakontakt h1{
	text-align:center;
	font-size:56px;
	color:#e3b11b;
	text-shadow: 3px 3px 1px black;
}
#okvirkontakt{
	width:1200px;
	height:600px;
	margin:0px auto;
	padding-top:50px;
}
#forme{
	width:400px;
	height:300px;
	float:left;
}
#forme form{
	display:flex;
	flex-direction:column;
	height:380px;
	background-color:rgb(0,0,0,0.7);
	padding-top:25px;
	padding-left:50px;
}
#forme form h2{
	margin-bottom:35px;
	color:#e3b11b;
	
}
#forme form input{
	width:300px;
	height:35px;
	margin-bottom:25px;
	background-color:rgb(0,0,0,0.7);/*background-color:#e3b11b;*/
	border:2px solid #e3b11b;
	color:white;
	font-size:14px;
	border-radius:4px;
}
::placeholder{
	color:white;
}
#forme form textarea{
	width:300px;
	margin-bottom:25px;
	background-color:rgb(0,0,0,0.7);
	border:1px solid #e3b11b;
	color:white;
	font-size:14px;
	border-radius:4px;
}
#forme form input[type=submit]{
	width:100px;
	margin-left:200px;
	background-color:#e3b11b;
	color:#white;
}
#forme form input[type=submit]:hover{
	background-color:white;
	color:#e3b11b;
}
#mapa{
	width:600px;
	height:600px;
	float:right;
}
#podaci{
	text-align:center;
	background-color:rgb(0,0,0,0.7);
	
}
#podaci h2{
	font-size:26px;
	color:#e3b11b;
}
#podaci p{
	font-size:18px;
	font-weight:bold;
	color:#e3b11b;
}
/*O NAMA*/
#sredina_o_nama{
	width:100%;
	height:/*980px;*/805px;
	padding-top:/*230px;*//*325px;*/50px;
	color:white;
}
#okvir_o_nama{
	width:100%;
	margin:0px auto;
	text-align:center;
	
}
#okvir_o_nama h1{
	font-size:56px;
	color:#e3b11b;
	text-shadow: 3px 3px 1px black;
	margin-bottom:70px;
}
#tekstslika{
	width:100%;
	background-color:rgb(0,0,0,0.7);

}
#o_nama_tekst{
	width:50%;
	text-align:left;	
	padding-left:8%;
	float:left;
	
}
#o_nama_tekst h2{
	font-size:30px;
	padding-left:120px;
	padding-bottom:20px;
}
#o_nama_tekst p{
	font-size:22px;
	/*text-indent:40px;*/
}
#o_nama_slika{
	width:50%;
	float:right;
}


/*HAPPY HOUR*/

#sredinahappyhour{
	width:100%;
	height:/*980px;*/805px;
	padding-top:/*230px;*//*325px;*/50px;
	color:white;
}
#sredinahappyhour h1{
	text-align:center;
	font-size:56px;
	color:#e3b11b;
	text-shadow: 3px 3px 1px black;
	transition: transform 2s;
}
#sredinahappyhour h1:hover{
	transform: rotate(45deg);
}
#okvirshh{
	width:80%;
	margin:0px auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding-top:80px;
	
}
#clanak1{
	width:400px;
	height:200px;
}
#clanak1 h1{
	font-size:36px;
	transform:rotate(20deg);
}
#clanak1 p{
	background-color:rgb(0,0,0,0.7);
	font-size:26px;
	transform:rotate(20deg);
	text-shadow: 3px 3px 1px black;
	
}
#clanak2{
	width:400px;
	height:200px;
}
#clanak2 h1{
	font-size:36px;
	transform:rotate(-20deg);
}
#clanak2 p{
	background-color:rgb(0,0,0,0.7);
	font-size:26px;
	transform:rotate(-20deg);
	text-shadow: 3px 3px 1px black;
}
#clanak3{
	width:400px;
	height:200px;
}
#clanak3 h1{
	font-size:36px;
	transform:rotate(20deg);
}
#clanak3 p{
	background-color:rgb(0,0,0,0.7);
	font-size:26px;
	transform:rotate(20deg);
	text-shadow: 3px 3px 1px black;
}
#clanak4{
	width:400px;
	height:200px;
}
#clanak4 h1{
	font-size:36px;
	transform:rotate(-20deg);
}
#clanak4 p{
	background-color:rgb(0,0,0,0.7);
	font-size:26px;
	transform:rotate(-20deg);
	text-shadow: 3px 3px 1px black;
}

/*AUTOR*/

#sredinaautor{
	width:100%;
	height:/*980px;*/805px;
	padding-top:/*230px;*//*325px;*/50px;
	color:white;
}
#sredinaautor h1{
	text-align:center;
	font-size:56px;
	color:#e3b11b;
	text-shadow: 3px 3px 1px black;
	margin-bottom:70px;
}
#okvirautora{
	width:100%;
	background-color:rgb(0,0,0,0.7);
}
#autortekst{
	width:50%;
	float:left;	
	padding-left:130px;
	
	
}
#autortekst h2{
	font-size:30px;
	margin-top:130px;
}
#autortekst p{
	font-size:22px;
}
#autorslika{
	width:50%;
	float:right;
	height:450px;
	padding-left:50px;
}
#autorslika img{
	width:450px;
	height:450px;
	
}
